#Command to run: coverage run -m pytest
#Comamnd to run: coverage html -i

# .coveragerc to control coverage.py
[run]
branch = True

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain if tests don't hit defensive assertion code:
    except ImportError

    # Don't complain if non-runnable code isn't run:
    if __name__ == .__main__.:

omit =
    *Temp*

[html]
directory = coverage_html_report